@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap");
@import url(https://fonts.googleapis.com/css?family=Anton);
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
  color: white;
  transition: background-color 0.3s ease;
}

h1 {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

.container {
  max-width: 1400px;
  padding: 10px 15px;
  margin: 0 auto;
}

.header {
  padding: 50px 0;
  background: linear-gradient(180deg, #242b33 11.98%, rgba(156, 200, 250, 0.1) 51.04%, #242b33 92.19%), url("./style/images/cinema.webp");
}
.header__logo {
  display: flex;
  text-align: center;
  align-items: flex-end;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__social {
  display: flex;
  justify-content: space-between;
}
.header__social-item {
  justify-content: space-between;
  list-style: none;
}
.header__social-link {
  display: flex;
  margin-left: 50px;
  transition: all 0.5s;
}
.header__social-link path {
  fill: white;
}
.header__social-link:hover path {
  fill: #3657CB;
}
.header__link-in {
  display: flex;
  text-align: center;
  align-items: center;
  padding: 15px 50px;
  border-radius: 10px;
  background: #3657CB;
  box-shadow: 0px 0px 15px 0px rgba(72, 113, 255, 0.8);
  color: white;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.6;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
  text-decoration: none;
}
.header__link-in:hover {
  background-color: white;
  color: #3657CB;
}

.menu {
  display: flex;
}
.menu__btn {
  display: none;
  width: 40px;
  height: 20px;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  border: none;
  background-color: #1E2538;
}
.menu__span {
  background-color: white;
  height: 2px;
  width: 100%;
}
.menu__list {
  display: flex;
}
.menu__item {
  list-style: none;
  margin-left: 50px;
  text-align: center;
  align-items: center;
}
.menu__link {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.menu__link:hover {
  color: yellowgreen;
}
.menu__link:focus {
  color: #fff;
}
.menu__login input[type=submit] {
  display: block;
  background: none;
  border: none;
  outline: 0;
  color: #fff;
  text-align: center;
  margin: 20px auto;
  border: 2px solid #fff;
  padding: 15px 40px;
  border-radius: 25px;
}
.menu__login input[type=submit]:hover {
  background-color: #fff;
  color: #1b2d5d;
  cursor: pointer;
}

.popup {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: transparent;
  z-index: 10;
  transform: translateY(-44.5%) scale(0);
  transition: 0.4s ease-in-out;
}
.popup__inner {
  display: flex;
  width: 100%;
  height: 100%;
}
.popup__inner-registration {
  display: flex;
  justify-content: center;
  padding: 50px;
}
.popup__container {
  max-width: 360px;
  margin: auto;
  padding: 50px 20px 30px;
  background-color: #3657CB;
  text-align: center;
  border-radius: 5px;
  color: #fff;
  box-shadow: 0 0 10px #fff;
  transition: all 0.5s ease;
  position: relative;
}
.popup__login-input {
  display: block;
  background: none;
  border: none;
  outline: 0;
  color: #fff;
  text-align: center;
  margin: 20px auto;
  border: 2px solid #fff;
  padding: 15px 20px;
  border-radius: 25px;
}
.popup__login-text {
  margin-bottom: 15px;
  color: #fff;
  text-transform: uppercase;
}
.popup__button {
  display: block;
  background: none;
  border: none;
  outline: 0;
  color: #fff;
  text-align: center;
  margin: 20px auto;
  border: 2px solid #fff;
  padding: 15px 40px;
  border-radius: 25px;
}
.popup__button:hover {
  background-color: yellowgreen;
  color: #1b2d5d;
  cursor: pointer;
}
.popup__close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 204pz;
  cursor: pointer;
}

.popup.activ {
  transform: translateY(0%) scale(100%);
  background-color: rgba(0, 0, 0, 0.8);
}

.registration {
  display: flex;
  justify-content: center;
}
.registration__close {
  display: flex;
  margin-left: auto;
  border: none;
  background-color: #1E2538;
}
.registration__title {
  color: white;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-align: center;
  margin-bottom: 35px;
}
.registration__form {
  display: flex;
  flex-direction: column;
  max-width: 430px;
  margin: 0 auto;
}
.registration__form-input {
  max-width: 422px;
  width: 100%;
  height: 40px;
  padding: 10px 20px 10px 16px;
  margin: 0 auto;
  border-radius: 10px;
  background: #1b2d5d;
  border: none;
  margin-bottom: 24px;
}
.registration__form-btn {
  margin: 0 auto;
  border-radius: 10px;
  background: yellowgreen;
  max-width: 422px;
  width: 100%;
  padding: 10px 20px 10px;
  border: none;
  color: #1b2d5d;
  font-size: 20px;
}

.container-registration {
  background-color: #1E2538;
  border-radius: 10px;
  max-width: 800px;
  padding: 20px 20px 50px 20px;
  margin: 0 auto;
}

.mobile__nav,
.menu__close {
  display: none;
}

.header__link--hidden {
  display: none;
}

.search {
  background-color: #1E2538;
  padding-bottom: 30px;
}
.search__cartoon {
  font-size: 50px;
  color: yellowgreen;
  margin-bottom: 50px;
  padding-top: 50px;
}
.search__form {
  display: flex;
  flex-direction: column;
}
.search__title {
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  color: white;
  margin: 0 auto 50px;
}
.search__result {
  margin: 20px auto 100px;
  display: flex;
  justify-content: center;
}
.search__img {
  max-height: 80vh;
  max-width: 1200px;
  width: 100%;
}
.search__btn {
  display: flex;
  justify-content: space-around;
  width: 160px;
  text-align: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  background: #3657CB;
  box-shadow: 0px 0px 15px 0px rgba(72, 113, 255, 0.8);
  color: white;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.6;
  border: none;
  transition: all 0.5s;
  margin-bottom: 50px;
  margin: 0 auto;
}
.search__btn:hover {
  background-color: white;
  color: #3657CB;
}
.search__film {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 40px;
}
.search__film-post {
  width: 320px;
}
.search__film-name {
  font-size: 20px;
  color: yellowgreen;
  margin-top: 10px;
  margin-bottom: 10px;
}
.search__film-img {
  margin-right: 20px;
  margin-bottom: 10px;
  width: 300px;
}

.data {
  display: flex;
  justify-content: center;
  padding: 25px 0;
}

.red__line {
  border: 2px solid red;
}

.green__line {
  border: 2px solid rgb(109, 221, 75);
}

.error {
  color: red;
  font-size: 14px;
  font-weight: 400;
  margin: 0 0 10px 10px;
}

/*переключатель темы
button#themeToggle {
   width: 50px;
   height: 50px;
   font-size: 12px;
   cursor: pointer;
   text-align: center;
   text-decoration: none;
   outline: none;
   color: $color;
   background-color: $yellowgreencolor;
   border: none;
   border-radius: 50%;
   box-shadow: 0 6px #999;
}

button#themeToggle:hover {
   background-color: green
}

button#themeToggle:active {
   background-color: green;
   box-shadow: 0 2px #667;
   transform: translateY(2px);
}

body.light-theme {
   background-color: bisque;
   color: #000000;
}

body.dark-theme {
   background-color: $color;
   color: $fontcolor;
}*/
/* начало блока ЧАТ*/
#chat-title {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: 900;
  color: rgb(238, 190, 131);
  font-family: "Courier New", Courier, monospace;
}

.chat {
  background: #1E2538;
  padding-bottom: 15vh;
}

.chat__bg {
  padding-top: 30px;
  background: linear-gradient(180deg, #242b33 10%, rgba(156, 200, 250, 0.1) 55%, #242b33 90%), url("./images/cinema.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.form_wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 2vw;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  padding: 1vh 3vw;
  margin: 0 auto;
}

.message {
  max-width: 80%;
  min-width: 70%;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  color: white;
  border: 1px solid darkslateblue;
}

.input {
  padding: 1vw;
  max-width: 100%;
  background: #3657CB;
  border: 1px solid darkslateblue;
  color: #000000;
  color: white;
  border-radius: 1em;
}

.comments {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 55vh;
  gap: 1vh;
  padding: 1vh 3vw;
  margin: 0 auto;
  align-items: center;
  overflow-y: auto;
}

.comments::-webkit-scrollbar {
  width: 12px;
  /* width of the entire scrollbar */
}

.comments::-webkit-scrollbar-track {
  background: rgb(238, 190, 131);
  /* color of the tracking area */
}

.comments::-webkit-scrollbar-thumb {
  background-color: darkslateblue;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 3px solid rgb(238, 190, 131);
  /* creates padding around scroll thumb */
}

.comment {
  padding: 2%;
  display: grid;
  grid-template-columns: 1fr 1fr 5% 1fr 2fr;
  grid-template-rows: 25% 25% 20% 20% 10%;
  text-align: center;
  align-items: center;
  background: rgb(238, 190, 131);
  border-radius: 1em;
}

::-moz-placeholder {
  color: rgb(238, 190, 131);
}

:-ms-input-placeholder {
  color: rgb(238, 190, 131);
}

::placeholder {
  color: rgb(238, 190, 131);
}

.comment__date {
  grid-column: 2;
  grid-row: 3;
  align-self: center;
  word-wrap: break-word;
  font-size: small;
  color: #3657CB;
}

.comment__avatar {
  padding: 0;
  width: 90px;
  height: 90px;
  -o-object-fit: cover;
     object-fit: cover;
  grid-column: 1;
  grid-row: 3;
  align-self: center;
}

.comment__name {
  font-weight: bold;
  padding: 0;
  width: 100%;
  color: darkslateblue;
  grid-template-columns: 1/2;
  grid-row: 1;
  word-wrap: break-word;
  text-align: left;
  -o-object-fit: cover;
     object-fit: cover;
}

.comment__text {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 2;
  text-align: left;
  font-weight: 500;
  padding-left: 1%;
  font-size: small;
  color: black;
}

/*конец блока ЧАТ*/
.animation-container {
  max-width: 1400px;
  padding: 10px 15px;
  margin: 0 auto;
  z-index: 2;
}

.animation {
  font-family: "Anton", sans-serif;
  line-height: 1;
  letter-spacing: 0.07em;
  color: white;
  cursor: pointer;
}

/*
.ks {
   font-family: 'Anton', sans-serif;
   font-size: 45px;
   line-height: 1;

   margin-top: 11px;


   -webkit-transition: all .2s ease-in-out;
   transition: all .3s cubic-bezier(.190, 1.000, .220, 1.000) 2s;
   -webkit-transform: translateX(-1000%);
   -ms-transform: translateX(-1000%);
   transform: translateX(-1000%);
   letter-spacing: -1px;
   text-transform: uppercase;

   color: orange;
}
*/
.animate .ks {
  transform: translateX(0);
  letter-spacing: -1px;
  text-transform: uppercase;
}

.animation span {
  font-family: "Anton", Helvetica, sans-serif;
  text-transform: uppercase;
  opacity: 0;
  color: yellowgreen;
  filter: alpha(opacity=0);
}

.un {
  transition: all 0.3s ease-in-out 2s;
  letter-spacing: 0.03em;
}

.break {
  transition: all 0.3s ease-in-out 1.2s;
  letter-spacing: 0.03em;
}

.animate .un {
  font-size: 60px;
  color: white;
  transform: scale(1.5, 1.5);
  opacity: 1;
  filter: alpha(opacity=100);
}

.animate .break {
  font-size: 60px;
  transform: scale(1.5, 1.5);
  opacity: 1;
  filter: alpha(opacity=100);
}

.comedy {
  background: #1E2538;
  padding-bottom: 16vh;
}

h3 {
  font-size: 40px;
  color: white;
  padding: 35px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.h2#chat-title {
  color: yellow;
  font-size: 1.2em;
  font-style: bold;
  padding-bottom: 5px;
}

.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  padding-top: 40px;
  padding-bottom: 20px;
  gap: 5px;
}

.hidden {
  display: none;
}

.movie {
  width: 300px;
  width: 100%;
  margin: 0 auto;
}

.image {
  width: 300px;
  width: 100%;
  margin-bottom: 5px;
  max-height: 420px;
  height: 100%;
}

.footer {
  padding: 20px 0;
  background-color: #1E2538;
  border: none;
  background-color: #1E2538;
}
.footer__inner {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}
.footer__rights {
  padding-bottom: 15px;
}
.footer__up {
  display: block;
  padding-bottom: 30px;
}

.game {
  display: flex;
  flex-direction: column;
  background-color: #1E2538;
}

.game__bg {
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: url("style/images/igra_prestolov.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.h4 {
  margin: 0 auto;
  font-size: 40px;
  color: yellow;
  padding: 35px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#news {
  width: 60vw;
  margin: 0 auto;
}

.post {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: black;
  text-align: center;
  margin: 6vw;
}

.post-title {
  text-transform: uppercase;
  margin: 1vw auto;
}

.post-house {
  text-transform: uppercase;
  margin: 1vw auto;
}

.post-text {
  margin: 0 auto;
}

#image {
  max-width: 1200px;
  width: 100%;
  -webkit-animation: fade 5s linear infinite;
          animation: fade 5s linear infinite;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

@-webkit-keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 1300px) {
  .comedy {
    padding-bottom: 80px;
  }
  .list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    padding-top: 40px;
    gap: 5px;
    align-self: center;
  }
  .movie {
    width: 100%;
    text-align: center;
  }
  .image {
    width: 350px;
    height: 100%;
    margin: 15px auto;
  }
}
@media (max-width: 1000px) {
  .search__film {
    justify-content: space-evenly;
  }
  .search__film-post {
    width: 430px;
    height: 80%;
  }
  .search__film-img {
    width: 100%;
    height: 80%;
  }
}
@media (max-width: 900px) {
  .menu__item {
    margin-left: 50px;
  }
  .header__link-in {
    padding: 10px 30px;
  }
  .animation .un {
    font-size: 40px;
  }
  .animation .break {
    font-size: 40px;
  }
  .ks {
    font-size: 40px;
  }
  .search__result {
    margin: 0px auto 50px;
  }
  .search__film-post {
    width: 345px;
    height: 80%;
  }
  .image {
    width: 90%;
    height: 80%;
  }
  .comedy {
    padding-bottom: 50px;
  }
}
@media (max-width: 768px) {
  .mobile__social {
    display: flex;
    justify-content: space-between;
    background-color: #3657CB;
    height: 60px;
    padding: 30px 80px 50px;
    border-top: 1px solid grey;
  }
  .mobile__social-item {
    background-color: transparent;
    border: none;
    outline: none;
  }
  .mobile__social-link {
    background-color: transparent;
  }
  .mobile__social-link path {
    fill: white;
  }
  .mobile__nav {
    display: block;
  }
  .menu {
    order: -1;
  }
  .menu__close {
    display: block;
  }
  .menu__list {
    transform: translateY(-100%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 360px;
    margin: 0 auto;
    background-color: #3657CB;
    display: block;
    text-align: center;
    padding-top: 60px;
    transition: all 0.5s ease;
    z-index: 100;
  }
  .menu__list.menu__list--open {
    transform: translateY(0);
  }
  .menu__btn {
    display: flex;
  }
  .menu__item {
    margin: 0;
    margin-bottom: 50px;
    margin-top: 50px;
    background-color: #3657CB;
  }
  .menu__link {
    font-size: 30px;
    cursor: pointer;
    margin-left: 20px;
  }
  .menu__close {
    background-color: #3657CB;
  }
  .menu__close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    background-color: transparent;
  }
  .menu__close-btn img {
    background-color: #3657CB;
    border: none;
  }
  .header__social {
    display: none;
  }
  .search__film-post {
    width: 500px;
    height: 70%;
  }
  .search__film-img {
    display: block;
    width: 80%;
    height: 70%;
    margin: 0 auto;
  }
  .search__film-name {
    text-align: center;
    margin-bottom: 20px;
  }
  .list {
    grid-template-columns: 1fr;
    padding-left: 15px;
    padding-right: 15px;
  }
  .image {
    max-width: 350px;
    display: block;
    margin: 20px auto;
  }
  .movie {
    text-align: center;
  }
  .form_wrapper {
    display: flex;
    flex-direction: column;
  }
  .chat {
    padding-bottom: 60px;
  }
  .input {
    max-width: 450px;
    width: 100%;
  }
  .form {
    padding-bottom: 50px;
    text-align: center;
    align-items: center;
  }
}
@media (max-width: 680px) {
  .menu__list {
    width: 100%;
  }
  .search__title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
  }
  .search__film-img {
    max-width: 100%;
  }
  .search__cartoon {
    font-size: 40px;
  }
  .animation .un {
    font-size: 30px;
  }
  .animation .break {
    font-size: 30px;
  }
  .ks {
    font-size: 30px;
  }
  .chat {
    padding-bottom: 50px;
  }
  .h4 {
    padding: 20px;
    font-size: 30px;
  }
  .search__title a {
    font-size: 30px;
  }
  .comedy__title {
    font-size: 30px;
  }
}
@media (max-width: 480px) {
  .header__link-in {
    padding: 5px 20px;
  }
  .registration__title {
    font-size: 30px;
    margin-top: 30px;
  }
  .registration__form-input {
    width: 300px;
    padding: 10px;
  }
  .registration__form-btn {
    width: 300px;
    font-size: 16px;
  }
  .search {
    padding-bottom: 10px;
  }
  .search__film-post {
    max-width: 350px;
  }
  .search__film-img {
    width: 100%;
  }
  .image {
    width: 100%;
  }
}
@media (max-width: 360px) {
  .registration__title {
    font-size: 25px;
  }
  .registration__form-input {
    width: 260px;
  }
  .registration__form-btn {
    width: 260px;
  }
  .chat {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */