@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');

// vars
@import 'reset.scss';
@import 'variables.scss';


// body {
//    color: $fontcolor;/ }

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: large;
   color: $fontcolor;
   transition: background-color 0.3s ease;
}

h1 {
   font-family: $font-main;

}

ul {
   list-style: none;
}

// header start
.container {
   max-width: 1400px;
   padding: 10px 15px;
   margin: 0 auto;
}

.header {
   padding: 50px 0;
   background-color: #1E2538;

   &__logo {
      display: flex;
      text-align: center;
      align-items: flex-end;
   }

   &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__social {
      display: flex;
      justify-content: space-between;
   }

   &__social-item {
      justify-content: space-between;
      list-style: none;

   }

   &__social-link {
      display: flex;
      margin-left: 50px;
      transition: all .5s;


      path {
         fill: $maincolor;
      }

      &:hover {
         path {
            fill: $fontcolor;
         }
      }
   }


   &__link-in {
      display: flex;
      text-align: center;
      align-items: center;
      padding: 15px 50px;
      border-radius: 10px;
      background: $maincolor;
      box-shadow: 0px 0px 15px 0px rgba(72, 113, 255, 0.80);
      color: $fontcolor;
      font-size: 16px;
      font-weight: 700;
      line-height: 1.6;
      border: none;
      cursor: pointer;
      transition: all .5s;
      text-decoration: none;

      &:hover {
         background-color: $fontcolor;
         color: $maincolor;
      }
   }
}

.menu {
   display: flex;

   &__btn {
      display: none;
      width: 40px;
      height: 20px;
      flex-direction: column;
      justify-content: space-between;
      padding: 0;
      border: none;
      background-color: $color;

   }

   &__span {
      background-color: $fontcolor;
      height: 2px;
      width: 100%;
   }

   &__list {
      display: flex;
      // justify-content: space-between;

   }

   &__item {
      list-style: none;
      margin-left: 50px;
      text-align: center;
      align-items: center;

   }

   &__link {
      text-decoration: none;
      color: $fontcolor;

      &:hover {
         color: #F2F60F;
      }

      &:focus {
         color: #fff;
      }
   }

   &__login-text {
      margin-bottom: 15px;
      color: #fff;
      text-transform: uppercase;
   }

   &__login-input {
      display: block;
      background: none;
      border: none;
      outline: 0;
      color: #fff;
      text-align: center;
      margin: 20px auto;
      border: 2px solid #fff;
      padding: 15px 20px;
      border-radius: 25px;
   }

   &__login input[type="submit"] {
      display: block;
      background: none;
      border: none;
      outline: 0;
      color: #fff;
      text-align: center;
      margin: 20px auto;
      border: 2px solid #fff;
      padding: 15px 40px;
      border-radius: 25px;

      &:hover {
         background-color: #fff;
         color: #1b2d5d;
         cursor: pointer;
      }
   }
}

.popup {
   // display: none;
   width: 100%;
   height: 100%;
   position: fixed;
   left: 0;
   top: 0;
   background-color: transparent;
   z-index: 10;
   transform: translateY(-44.5%) scale(0);
   transition: .4s ease-in-out;


   &__inner {
      display: flex;
      width: 100%;
      height: 100%;
   }

   &__container {
      max-width: 360px;
      margin: auto;
      padding: 50px 20px 30px;
      background-color: $maincolor;
      text-align: center;
      border-radius: 5px;
      color: #fff;
      box-shadow: 0 0 10px #fff;
      transition: all .5s ease;
      position: relative;
   }

   &__close {
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 204pz;
      cursor: pointer;
   }

}

.popup.activ {
   // display: block;
   transform: translateY(0%)scale(100%);
   background-color: rgba(0, 0, 0, 0.80);
}

.registration {
   height: 80vh;


   &__close {
      display: flex;
      margin-left: auto;
      border: none;
      background-color: $color;
   }

   &__title {
      color: $fontcolor;
      font-size: 30px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      text-align: center;
      margin-bottom: 35px;
   }

   &__form {

      display: flex;
      flex-direction: column;
      max-width: 430px;
      margin: 0 auto;
   }

   &__form-input {
      max-width: 422px;
      width: 100%;
      height: 40px;
      padding: 10px 20px 10px 16px;
      margin: 0 auto;
      border-radius: 10px;
      background: #1b2d5d;
      border: none;
      margin-bottom: 24px;
   }

   &__form-btn {
      margin: 0 auto;
      border-radius: 10px;
      background: #F2F60F;
      max-width: 422px;
      width: 100%;
      padding: 10px 20px 10px;
      border: none;
      color: #1b2d5d;
      font-size: 20px;
   }
}

.container-registration {
   background-color: #1E2538;
   border-radius: 10px;
   max-width: 800px;
   padding: 20px 20px 50px 20px;
   margin: 0 auto;

}

.mobile__nav,
.menu__close {
   display: none;
}

.header__link--hidden {
   display: none;
}

//header finish


//section search start
.search {
   background-color: #1E2538;
   padding-bottom: 30px;

   &__cartoon {
      font-size: 50px;
      color: #F2F60F;
      margin-bottom: 50px;
      padding-top: 50px;
   }

   &__form {
      display: flex;
      flex-direction: column;
   }

   &__title {
      text-align: center;
      font-size: 40px;
      font-weight: 900;
      color: rgb(58, 197, 243);
      margin: 0 auto 50px;
   }

   &__result {
      margin: 20px auto 100px;
      display: flex;
      justify-content: center;
   }

   &__img {
      max-height: 80vh;
      max-width: 1200px;
      width: 100%;
   }

   &__btn {
      @include button;
      margin-bottom: 50px;
      margin: 0 auto;

   }

   &__film {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-top: 40px;
   }

   &__film-name {
      font-size: 20px;
      color: #F2F60F;
      margin-top: 10px;
      margin-bottom: 10px;
   }

   &__film-img {
      margin-right: 20px;
      margin-bottom: 10px;
      max-width: 300px;

   }
}

.data {
   display: flex;
   justify-content: center;
   padding-bottom: 25px;
}

//section search finish


.red__line {
   border: 2px solid red;
}

.green__line {
   border: 2px solid rgb(109, 221, 75);
}

.error {
   color: red;
   font-size: 14px;
   font-weight: 400;
   margin: 0 0 10px 10px;
}



//переключатель темы
button#themeToggle {
   width: 50px;
   height: 50px;
   font-size: 12px;
   cursor: pointer;
   text-align: center;
   text-decoration: none;
   outline: none;
   color: $color;
   background-color: greenyellow;
   border: none;
   border-radius: 50%;
   box-shadow: 0 6px #999;
}

button#themeToggle:hover {
   background-color: green
}

button#themeToggle:active {
   background-color: green;
   box-shadow: 0 2px #667;
   transform: translateY(2px);
}

body.light-theme {
   background-color: bisque;
   color: #000000;
}

body.dark-theme {
   background-color: $color;
   color: $fontcolor;
}


/* начало блока ЧАТ*/

#chat-title {
   text-align: center;
   font-family: $font-main;
   font-size: 40px;
   font-weight: 900;
   color: rgb(238, 190, 131);
   font-family: 'Courier New', Courier, monospace;
}

.chat {
   background: $color;
   padding-bottom: 15vh;
}

.chat__bg {
   padding-top: 30px;
   background-image: url('../style/images/cinema.webp');
   background-repeat: no-repeat;
   background-size: cover;
}

.form_wrapper {
   display: grid;
   grid-template-columns: 1fr 1fr;
   padding: 2vw;
}

.form {
   display: flex;
   flex-direction: column;
   width: 100%;
   gap: 1rem;
   padding: 1vh 3vw;
   margin: 0 auto;

}

.message {
   max-width: 80%;
   min-width: 70%;
   max-height: max-content;
   border-color: darkslateblue;
   border-style: 1rem solid;
   color: $fontcolor;

}

.input {
   padding: 1vw;
   max-width: 70%;
   background: $maincolor;
   border-color: darkslateblue;
   border-style: 1rem solid;
   color: #000000;
   color: $fontcolor;
   border-radius: 1em;

}


.comments {
   display: flex;
   flex-direction: column;
   width: 45vw;
   height: 55vh;
   gap: 1vh;
   padding: 1vh 3vw;
   margin: 0 auto;
   align-items: center;
   overflow-y: auto;
}

.comments::-webkit-scrollbar {
   width: 12px;
   /* width of the entire scrollbar */
}

.comments::-webkit-scrollbar-track {
   background: rgb(238, 190, 131);
   /* color of the tracking area */
}

.comments::-webkit-scrollbar-thumb {
   background-color: darkslateblue;
   /* color of the scroll thumb */
   border-radius: 20px;
   /* roundness of the scroll thumb */
   border: 3px solid rgb(238, 190, 131);
   /* creates padding around scroll thumb */
}

.comment {
   padding: 2%;
   display: grid;
   grid-template-columns: 1fr 1fr 5% 1fr 2fr;
   grid-template-rows: 25% 25% 20% 20% 10%;
   text-align: center;
   align-items: center;
   background: rgb(238, 190, 131);
   border-radius: 1em;
}

::placeholder {
   color: rgb(238, 190, 131);
}

.comment__date {
   grid-column: 2;
   grid-row: 3;
   align-self: center;
   word-wrap: break-word;
   font-size: small;
   color: $maincolor;
}

.comment__avatar {
   padding: 0;
   width: 90px;
   height: 90px;
   object-fit: cover;
   grid-column: 1;
   grid-row: 3;
   align-self: center;
}

.comment__name {
   font-weight: bold;
   padding: 0;
   width: 100%;
   color: darkslateblue;
   grid-template-columns: 1/2;
   grid-row: 1;
   word-wrap: break-word;
   text-align: left;
   object-fit: cover;

}

.comment__text {
   grid-column-start: 4;
   grid-column-end: 6;
   grid-row-start: 2;
   text-align: left;
   font-weight: 500;
   padding-left: 1%;
   font-size: small;
   color: black;
}


/*конец блока ЧАТ*/

//title animation

@import url(https://fonts.googleapis.com/css?family=Anton);


.animation-container {
   max-width: 1400px;
   padding: 10px 15px;
   margin: 0 auto;
   z-index: 2;
}

.animation {
   font-family: 'Anton', sans-serif;
   line-height: 1;
   letter-spacing: .07em;
   color: rgb(37, 150, 216);
   cursor: pointer;
}

/*
.ks {
   font-family: 'Anton', sans-serif;
   font-size: 45px;
   line-height: 1;

   margin-top: 11px;


   -webkit-transition: all .2s ease-in-out;
   transition: all .3s cubic-bezier(.190, 1.000, .220, 1.000) 2s;
   -webkit-transform: translateX(-1000%);
   -ms-transform: translateX(-1000%);
   transform: translateX(-1000%);
   letter-spacing: -1px;
   text-transform: uppercase;

   color: orange;
}
*/
.animate .ks {
   -webkit-transform: translateX(0);
   -ms-transform: translateX(0);
   transform: translateX(0);
    letter-spacing: -1px;
   text-transform: uppercase;

}

.animation span {
   font-family: 'Anton', Helvetica, sans-serif;
   // font-size: 40px;

   text-transform: uppercase;

   opacity: 0;
   color: yellowgreen;

   filter: alpha(opacity=0);
}


.un {
   -webkit-transition: all .3s ease-in-out 1s;
   transition: all .3s ease-in-out 2s;
   letter-spacing: .03em;
}
.break {
   -webkit-transition: all .3s ease-in-out 1s;
   transition: all .3s ease-in-out 1.2s;
   letter-spacing: .03em;
}

.animate .un {
   font-size: 60px;
   color: rgb(58, 197, 243);

   -webkit-transform: scale(1.5, 1.5);
   -ms-transform: scale(1.5, 1.5);
   transform: scale(1.5, 1.5);

   opacity: 1;

   filter: alpha(opacity=100);
}

.animate .break {
   font-size: 60px;

   -webkit-transform: scale(1.5, 1.5);
   -ms-transform: scale(1.5, 1.5);
   transform: scale(1.5, 1.5);

   opacity: 1;

   filter: alpha(opacity=100);
}

//json block Comedy
.comedy {
   background: $color;
   height: 100%;
   padding-bottom: 16vh;

}

h3 {
   font-size: 40px;
   color: rgb(58, 197, 243);
   padding: 35px;
   justify-content: center;
   align-items: center;
   text-align: center;
}

.h2#chat-title {
   color: yellow;
   font-size: 1.2em;
   font-style: bold;
   padding-bottom: 5px;
}

.list {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: 1fr;
   padding-top: 40px;
   gap: 5px;

}
.hidden {
  display: none;
}

.movie {
   max-width: 310px;
   width: 100%;
   margin: 0 auto;
}

.image {
   max-width: 300px;
   width: 100%;
   margin-bottom: 5px;
   max-height: 450px;
   height: 100%;

}


//footer

.footer {
   padding: 20px 0;
   background-color: #1E2538;
   border: none;
   background-color: $color;

   &__inner {
      display: flex;
      justify-content: center;
      margin: 0 auto;
      flex-direction: column;
      align-items: center;
   }

   &__rights {
      padding-bottom: 15px;
   }

   &__up {
      display: block;
      padding-bottom: 30px;
   }
}


//медиа запросы
@media (max-width:900px) {
   .menu {
      &__item {
         margin-left: 50px;
      }
   }

   .header__link-in {
      padding: 10px 30px;
   }

   .animation .un {
      font-size: 40px;
   }

   .animation .break {
      font-size: 40px;
   }

   .ks {
      font-size: 40px;
   }

   .search {
      &__result {
         margin: 0px auto 50px;
      }

      &__film-img {
         margin-right: 50px;
      }
   }

}

@media (max-width:768px) {
   .mobile {
      &__social {
         display: flex;
         justify-content: space-between;
         background-color: $maincolor;
         height: 60px;
         padding: 30px 80px;
         border-top: 1px solid grey;
      }

      &__social-item {
         background-color: transparent;
         border: none;
         outline: none;
      }

      &__social-link {
         background-color: transparent;

         path {
            fill: $fontcolor;
         }
      }

      &__nav {
         display: block;
      }
   }

   .menu {

      order: -1;

      &__close {
         display: block;
      }

      &__list {
         transform: translateY(-100%);
         position: absolute;
         top: 0;
         left: 0;
         right: 0;
         width: 360px;
         margin: 0 auto;
         background-color: $maincolor;
         display: block;
         text-align: center;
         padding-top: 60px;
         transition: all .5s ease;

      }

      &__list.menu__list--open {
         transform: translateY(0);
      }

      &__btn {
         display: flex;
      }

      &__item {
         margin: 0;
         margin-bottom: 50px;
         margin-top: 50px;
         background-color: $maincolor;
      }

      &__link {
         font-size: 30px;
         cursor: pointer;
         margin-left: 20px;
      }

      &__close {
         background-color: $maincolor;
      }

      &__close-btn {
         position: absolute;
         top: 20px;
         right: 20px;
         border: none;
         background-color: transparent;
      }

      &__close-btn img {
         background-color: $maincolor;
         border: none;
      }
   }


   .header {
      &__social {
         display: none;
      }
   }
}

@media (max-width:680px) {
   .menu__list {
      width: 100%;
   }

   .search {
      &__title {
         font-size: 30px;
         font-weight: 700;
         margin-bottom: 30px;
      }

      &__film-img {
         max-width: 100%;
      }

      &__cartoon {
         font-size: 40px;
      }
   }

   .animation .un {
      font-size: 30px;
   }

   .animation .break {
      font-size: 30px;
   }

   .ks {
      font-size: 30px;
   }
}

@media (max-width:480px) {
   .header__link-in {
      padding: 5px 20px;
   }

   .registration {
      &__title {
         font-size: 30px;
         margin-top: 30px;
      }

      &__form-input {
         width: 300px;
         padding: 10px;
      }

      &__form-btn {
         width: 300px;
         font-size: 16px;
      }
   }

   .search {
      padding-bottom: 10px;
   }
}

@media (max-width:360px) {
   .registration {
      &__title {
         font-size: 25px;
      }

      &__form-input {
         width: 260px;
      }

      &__form-btn {
         width: 260px;
      }
   }
}

// game of Thrones

.game {
    display: flex;
    flex-direction: column;
    background-color: $color;
   
   }

    .game__bg {
      max-width: 1400px;
   padding-top: 30px;
   background-image: url('/style/images/igra_prestolov.jpg');
   background-repeat: no-repeat;
   background-size: cover;
}

        .h4 {
            margin: 0 auto;
            font-size: 40px;
   color: yellow;
   padding: 35px;
   justify-content: center;
   align-items: center;
   text-align: center;
            
        }

        #news {
            width: 60vw;
            margin: 0 auto;
        }

        .post {
            display: flex;
            flex-direction: column;
            padding: 10px;
            background-color:black;
            text-align: center;
            margin: 6vw;
        }



        .post-title {
            text-transform: uppercase;
            margin: 1vw auto;
        }
        .post-house {
            text-transform: uppercase;
            margin: 1vw auto;
        }
        
        .post-text {
            margin: 0 auto;
        }
